@model Podmlotek.ViewModels.ProductsViewModel
@using Podmlotek.Infrastructure
<ul class="item">
	@foreach (var item in Model.Products)
	{
		<li>
			<section>

				<a class="ProductItem" href="@Url.Action("Details","Product", new { id= item.ProductsId})">
					<img src="@Url.PicturesPath(item.Picture)" style="float:left;" />
					<div class="inscription">
						<p><h2>@item.Item</h2> </p>
						<p>@item.ShortDescription</p>
						<p>Cena: @item.Price zł</p>
					</div>

				</a>

				<a class="AddTo" href="@Url.Action("AddToShoppingCart", "Product", new { id = item.ProductsId })">	Dodaj do koszyka</a>

			</section>
		</li>
	}
</ul>