@model Podmlotek.ViewModels.HomeViewModel
@using Podmlotek.Infrastructure
@{
	ViewBag.Title = "Podmłotek";
}
	<main>
		<article>
			<section>
				<div class="categories">
					<header>
						<h1>Witaj w internetowym serwisie aukcyjnym</h1>
						<p> Wybierz dogodną dla Ciebie kategorię i kupuj lub wystawiaj produkty na aukcjach intrnetowych</p>
					</header>
				</div>
			</section>
			<section id="newest">

				<ul class="KursyTrzyKolumny duzaListaKursy">
					@foreach (var bestseller in Model.Bestsellers)
					{
						<li>
							<article>
								<a class="dodajDoKoszykaLink" href="@Url.Action("AddTo", "ShoppingCart", new { id = bestseller.ProductsId })">
									<img src="../Content/Images/koszyk.png" />
								</a>
								<a class="kursSzczegolyLink" href="@Url.Action("Details","Product", new { id=bestseller.ProductsId})" >
									<div class="bestsellerFlag"></div>
									<img class="kurs" src="@Url.PicturesPath(bestseller.Picture)" />
									<h1>
										@bestseller.Item
									</h1>
								</a>
							</article>
						</li>
					}					
				</ul>

			</section>
			<section id="newest">
				<ul class="KursyTrzyKolumny duzaListaKursy">
					@foreach (var nowosci in Model.News)
					{
						<li>
							<article>
								<a class="dodajDoKoszykaLink" href="@Url.Action("AddTo", "ShoppingCart", new { id = nowosci.ProductsId })">
									<img src="../Content/Images/koszyk.png" />
								</a>
								<a class="kursSzczegolyLink" href="@Url.Action("Details","Product", new { id=nowosci.ProductsId})">
									<div class="newFlag"></div>
									<img class="kurs" src="@Url.PicturesPath(nowosci.Picture)" />
									<h1>
										@nowosci.Item
									</h1>
								</a>
							</article>
						</li>
					}					
				</ul>
			</section>
		</article>
	</main>
	